numpy==1.26.0
torch
torchvision
transformers
modelscope==1.15.0
tensorflow-macos==2.9
keras==2.9.0
-e ./CLIP
opencv-python
matplotlib
pycocotools
timm
SentencePiece
tf_slim
tf_keras==2.15.0
pyclipper
shapely
supervision==0.21.0
dashscope